.ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
 }
 .li:before {
    content: "►";
    display: block;
    float: left;
    width: 1.2em;
    color: black;
}

.com_body{
    justify-content: left;
    color: black;
    width: 94%;
}
.com_content {
    margin-top: 2.5rem;
}